<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.iqqcode.module.components">

    <application>
        <activity
            android:name=".agree.EasterAgreeActivity"
            android:exported="false" />
        <activity
            android:name=".docks.DockBarActivity"
            android:exported="false" />
        <activity
            android:name=".list.TableSubListActivity"
            android:exported="false" />
        <activity
            android:name=".ComponentsActivity"
            android:exported="false" />
        <activity
            android:name=".edittext.CustomTextActivity"
            android:exported="false" />
        <activity
            android:name=".expend.entrance.FrsFloatEntranceActivity"
            android:exported="false" />
        <activity
            android:name=".expend.hotspot.ExpendBaseDemoActivity"
            android:exported="false" />
        <activity
            android:name=".expend.hotspot.ExpendClickActivity"
            android:exported="false" />
        <activity
            android:name=".expend.spread.SpreadActivity"
            android:exported="false" />
        <activity
            android:name=".flipper.CarouselDemoActivity"
            android:exported="false" />
        <activity
            android:name=".floats.FloatExpandActivity"
            android:exported="false" />
        <activity
            android:name=".floats.IMGroupEntryActivity"
            android:exported="false" />
        <activity
            android:name=".icon.ExpendBoxActivity"
            android:exported="false" />
        <activity
            android:name=".label.EmotionLabelActivity"
            android:exported="false" />
    </application>

</manifest>