<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".AnimationMainActivity" />
        <activity
            android:name=".alpha.NaturalAlphaActivity"
            android:exported="false" />
        <activity
            android:name=".rain.FallingActivity"
            android:exported="false" />
        <activity
            android:name=".values.PathAnimatorActivity"
            android:exported="false" />
    </application>

</manifest>